.main-contato{
    display: block;
    padding-top: 1em;
    text-align: center;
    height: 35em;
    font-family:"Fira Code";
    background-color: #ebf6fb;
}

.main-contato form {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80%;    
}

.main-contato form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    align-self: center;
}

.main-contato form [type="submit"]:hover {
    cursor: pointer;
}

.main-contato input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}