.main-banner {
    padding-top: 1em;
    background-size: cover;
    background-repeat: no-repeat;  
    text-align: center;
    height: 31em;
    width: 100%;
    border-bottom: .3em solid #141b38;
}

.main-banner #exag{
    position: absolute;
    top: 7em;
    left:1em;
    width: 48em;
    height: 28em;
}

.main-banner.-sobre{
    display: inline-block;
    background-image: url(../../assets/imagem/telainicial.png);
}

.main-banner.-produtos{
    display: block;
    height: 34em;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../assets/imagem/fundo.exagono.png);
    background-size: cover;
}


