.main-cards{
    width: 35em;
    height: 35em;
}

.main-cards.-sobre{
    position: absolute;
    z-index: 0;
    padding-top: 2em;
    color: #141b38;
    right: 2em;
    text-align: center;
    font-size: 1.4em;
    width: 25em;
    height: 20em;
}

.main-cards.-produtos img{
    width: 34em;
    height: 34em;
}

.main-cards.-inform{

}