.wrapper-banners{
   padding-top: 2em;
   /* box-sizing: content-box; */
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
}


.wrapper-banners.-contato aside{
   display: flex;
   flex-direction: column;
   width: 30em;
   height: 25em;
   font-size: 1.2em;
   margin-left: 2.5em;
}


